$bodyColor: #EEEEEE;
$baseColor: #4c617a;
$defaultBorderRadius: 3px;
// Placeholder color
$emptyColor: #b8b8b8;
$lblueColor: #59a2be;
$blueColor: #2093cd;
$purpleColor: #ad62a7;
$redColor: #f16364;
$orangeColor: #f9a43e;
$yellowColor: #e4c62e;
$greenColor: #67bf74;
// Avatars
$avatarDefaultSize: 48px;
$avatarSmallSize: 32px;
$avatarTinySize: 24px;
$avatarHugeSize: 200px;
$avatarSquareSize: 250px;
// Transitions
$defaultTransitionDuration: 400ms;
$defaultTransitionTiming: cubic-bezier(.25,.8,.25,1);
// Buttons
$buttonBorderRadius: $defaultBorderRadius;
$buttonTextColor: rgb(144, 144, 144);

@import '../../node_modules/normalize.css/normalize.css';
@import '../../node_modules/flexboxgrid/dist/flexboxgrid.min.css';
@import url('//fonts.googleapis.com/css?family=RobotoDraft:400,500|Roboto+Slab&subset=latin,cyrillic');

html {
  width: 100%;
  height: 100%;
}
body {
  background-color: $bodyColor;
  width: 100%;
  height: 100%;
  //text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

#app {
  width: 100%;
  height: 100%;
  .row {
    width: 100%;
    height: 100%;
  }
}

.invite-new {
  width: 480px;
  height: 504px;
  background: url(/img/envelope.png) 0 0 no-repeat ;
  position: relative;
  &__body {
    text-align: initial;
    position: absolute;
    width: 292px;
    top: 3px;
    left: 94px;
    box-sizing: border-box;
    height: 200px;
    padding: 18px 20px 0;
    font-family: 'RobotoDraft', serif;
    color: rgba(61,61,61,.66);
    h3 {
      line-height: 20px;
      font-family: 'Roboto Slab', serif;
      font-size: 16px;
      margin: 0 0 15px;
      color: #3D3D3D;
      font-weight: 400;
    }
    p {
      line-height: 19px;
      font-size: 14px;
      margin: 0 0 25px;
    }
    a {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14px;
      color: #4A90E2;
      font-weight: 500;
    }
    strong {
      font-weight: 500;
    }
    footer {
      position: absolute;
      bottom: 0;
      right: 20px;
      text-align: right;
      font-size: 13px;
      line-height: 18px;
      color: rgba(61,61,61,.56);
    }
  }
}


.invite {
  display: none;

  width: 300px;
  min-height: 200px;
  background-color: white;
  padding: 16px;
  box-shadow: 0 3px 7px -5px rgba(0,0,0,.4);
  border-radius: $defaultBorderRadius;
  position: relative;
  &__group {
    position: absolute;
    left: 0;
    top: -160px;
    width: 100%;
  }
  &__from {
    margin-top: 160px;
  }


  h3 {
    font-family: 'RobotoDraft', 'Roboto', sans-serif;
    font-weight: 400;
    color: $baseColor;
  }

}

.avatar {
  line-height: 0;

  position: relative;

  display: inline-block;
  overflow: hidden;

  box-sizing: border-box;
  width: $avatarDefaultSize;
  height: $avatarDefaultSize;
  padding: 1px;

  vertical-align: middle;

  border-radius: 100%;
  &__image {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border-radius: 100%;
  }
  &__placeholder {
    font-size: 18px;
    font-weight: 500;
    line-height: $avatarDefaultSize - 2px;

    display: block;

    width: $avatarDefaultSize - 2px;
    height: $avatarDefaultSize - 2px;

    cursor: default;
    text-align: center;
    text-transform: uppercase;

    color: rgb(255, 255, 255);
    border-radius: 100%;
    text-shadow: 0 -1px 5px rgba(0, 0, 0, .17);

    // Placeholder colors
    &--empty {
      background-color: $emptyColor;
    }
    &--lblue {
      background-color: $lblueColor;
    }
    &--blue {
      background-color: $blueColor;
    }
    &--purple {
      background-color: $purpleColor;
    }
    &--red {
      background-color: $redColor;
    }
    &--orange {
      background-color: $orangeColor;
    }
    &--yellow {
      background-color: $yellowColor;
    }
    &--green {
      background-color: $greenColor;
    }
  }

  &--small {
    width: $avatarSmallSize;
    height: $avatarSmallSize;
    .avatar__placeholder {
      font-size: 14px;
      line-height: $avatarSmallSize - 2px;

      width: $avatarSmallSize - 2px;
      height: $avatarSmallSize - 2px;
    }
  }
  &--tiny {
    width: $avatarTinySize;
    height: $avatarTinySize;
    .avatar__placeholder {
      font-size: 10px;
      font-weight: 600;
      line-height: $avatarTinySize - 2px;

      width: $avatarTinySize - 2px;
      height: $avatarTinySize - 2px;
    }
  }
  &--square {
    display: block;

    width: 100%;
    height: 100%;

    border-radius: 0;
    .avatar__image {
      width: $avatarSquareSize;
      height: $avatarSquareSize;

      border-radius: 0;
    }
    .avatar__placeholder {
      font-size: ($avatarSquareSize / 4) * 2;
      line-height: $avatarSquareSize;

      width: $avatarSquareSize;
      height: $avatarSquareSize;

      border-radius: 0;
    }
  }
  &--huge {
    width: $avatarHugeSize;
    height: $avatarHugeSize;
    .avatar__placeholder {
      font-size: 64px;
      line-height: $avatarHugeSize - 2px;

      width: $avatarHugeSize - 2px;
      height: $avatarHugeSize - 2px;
    }
  }
}

.button {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  display: inline-block;

  box-sizing: border-box;
  min-width: 36px;
  height: 36px;
  padding: 6px 8px;

  cursor: default !important;
  transition: background $defaultTransitionDuration $defaultTransitionTiming;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;

  color: $buttonTextColor !important;
  border: none;
  border-radius: $buttonBorderRadius;
  outline: none;
  background-color: transparent;

  i {
    font-size: 24px;
    line-height: 20px;

    width: 20px;
    height: 20px;
    margin-right: 4px;
    padding: 2px;

    vertical-align: top;
  }
  &:hover {
    background-color: rgba(160,160,160,.2);
  }
  &:active {
    color: darken($buttonTextColor, 10);
    background-color: rgba(160,160,160,.6);
  }
  &--primary {
    min-width: 60px;

    color: rgb(255,255,255) !important;
    background-color: $baseColor;
    &:hover {
      background-color: lighten($baseColor,10);
    }
  }
  &--danger {
    color: $redColor !important;
  }
  &--wide {
    display: block;

    width: 100%;
  }
}
